@model GameWebApplication.Models.MagicMeleeRanged

@{
    ViewData["Title"] = "Create";
}
<head>
    <link rel="stylesheet" href="~/css/magicMeleeRanged.css" />
</head>

<h1>Magic Melee Ranged!</h1>

<div class="row">
    <form id="optionSelection "asp-action="Create">
        <div class="col-md-4">
            <input type="radio"
                   name="userChoice"
                   id="magic"
                   value="magic"
                   class="userOption" />
            <label for="magic">
                <img src="~/images/gandalf.jpg" />
            </label>
        </div>
        <div class="col-md-4">
            <input type="radio"
                   name="userChoice"
                   id="melee"
                   value="melee"
                   class="userOption" />
            <label for="melee">
                <img src="~/images/gimli.jpg" />
            </label>
        </div>
        <div class="col-md-4">
            <input type="radio"
                   name="userChoice"
                   id="ranged"
                   value="ranged"
                   class="userOption" />
            <label for="ranged">
                <img src="~/images/legolas.jpg" />
            </label>
        </div>
        <!--User choice-->
        <span id="userChoice">User choice: </span>
        <!--Computer choice-->
        <!--Time to choice-->
        <div class="form-group">
            <button type="submit" value="Submit" class="btn btn-primary"
                    onclick="">
                Submit
            </button>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to Magic Melee Ranged Home</a>
</div>

@section Scripts {    
    <script>
        $(function () {
            playTheGame();
        });
        $('#optionSelection input').on('change', function () {
            alert($('input[name=userChoice]:checked', '#myForm').val());
        });
    </script>
}
