@model GameWebApplication.Models.MagicMeleeRanged

@{
    ViewData["Title"] = "Create";
}
<head>
    <link rel="stylesheet" href="~/css/magicMeleeRanged.css" />
</head>
<h1>Magic Melee Ranged!</h1>

<h4>Play</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <h2 class="align-middle">Magic</h2>
        <img src="~/images/gandalf.jpg" class="img-fluid. max-width: 100%" />
    </div>
    <div class="col-md-4">
        <h2 class="align-middle">Melee</h2>
        <img src="~/images/gimli.jpg" class="img-fluid. max-width: 100%" />
    </div>
    <div class="col-md-4">
        <h2 class="align-middle">Ranged</h2>
        <img src="~/images/legolas.jpg" class="img-fluid. max-width: 100%" />
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Win" /> Win
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Loss" /> @Html.DisplayNameFor(model => model.Loss)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Tie" /> @Html.DisplayNameFor(model => model.Tie)
                </label>
            </div>



            <div class="form-group">
                <label asp-for="UserChoice" class="control-label"></label>
                <input asp-for="UserChoice" class="form-control" />
                <span asp-validation-for="UserChoice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComputerChoice" class="control-label"></label>
                <input asp-for="ComputerChoice" class="form-control" />
                <span asp-validation-for="ComputerChoice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeToChoice" class="control-label"></label>
                <input asp-for="TimeToChoice" class="form-control" />
                <span asp-validation-for="TimeToChoice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Magic Melee Ranged Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="~/js/magic-melee-ranged.js"></script>
}
