@model GameWebApplication.Models.MagicMeleeRanged

@{
    ViewData["Title"] = "Create";
}
<head>
    <link rel="stylesheet" href="~/css/magicMeleeRanged.css" />
</head>

<h1>Magic, Melee, Ranged!</h1>

<!--This row div houses all of the radio buttons for the game-->
<div class="row">
    <form asp-action="Create">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4 form-check">
                    <input type="radio"
                           class="form-check-input"
                           name="userOption"
                           id="magic"
                           value="magic"/>
                    <label for="magic">
                        Magic
                        <img src="~/images/gandalf.jpg" />
                    </label>
                </div>
                <div class="col-md-4 form-check">
                    <input type="radio"
                           class="form-check-input"
                           name="userOption"
                           id="melee"
                           value="melee" />
                    <label for="melee">
                        Melee
                        <img src="~/images/gimli.jpg" />
                    </label>
                </div>
                <div class="col-md-4 form-check">
                    <input type="radio"
                           class="form-check-input"
                           name="userOption"
                           id="ranged"
                           value="ranged" />
                    <label for="ranged">
                        Ranged
                        <img src="~/images/legolas.jpg" />
                    </label>
                </div>
            </div>            
        </div>
        <!--TEMP FOR USERID-->
        <div class="form-group">
            <label asp-for="UserId" class="control-label">Enter your initials:</label>
            <input asp-for="UserId" class="form-control" />
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="userChoice" class="control-label">User choice:</label>
            <input id="userChoice" asp-for="UserChoice" class="form-control" />
            <span asp-validation-for="UserChoice" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="computerChoice" class="control-label">Opponent choice:</label>
            <input id="computerChoice" asp-for="ComputerChoice" class="form-control" />
            <span asp-validation-for="UserChoice" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="result" class="control-label">Result:</label>
            <input id="result" class="form-control" /> <!--Add asp-for action back in and validation-->
            <span class="text-danger"></span>
        </div>
        <!--Submit button-->
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>



<!--New row for the user choice and computer choice-->
<div class="row">
    <div class="choices">
        <div class="md-col-6">
            Player
        </div>
        <div class="md-col-6">
            Opponent
        </div>
    </div>
</div>


<div>
    <a asp-action="Index">Back to Magic Melee Ranged Home</a>
</div>

@section Scripts {    
    <script>
        $(document).ready(function(){
            
            setUserSelection();

            const opponentChoice = getOpponentChoice();
            $("#computerChoice").val(opponentChoice);

            let userChoice = $("#userChoice");

            let getResult = gameResult(userChoice, opponentChoice);
            $("#result").val(getResult);
            
        });
        
        

        
        
    </script>
}
