@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Greatest Wizardly Web Games App</h1>
    <p>One day there will be a really cool dashboard here that gives you the statistics of your games played.</p>
</div>
