@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>I greatly value your privacy, just remember that this is the internet. Don't
    put anything here that you wouldn't want your mom to know.</p>
